* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #4891ff;
  --light-color: #f4f4f6;
  --dark-color: #111;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Navbar */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.4rem;
}
.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 1.4rem;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .container .menu-links ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.navbar .container .menu-links ul li:last-child a:last-child {
  background: var(--light-color);
  color: var(--dark-color);
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  transition: 0.3s;
}
.navbar .container .menu-links ul li:last-child a:last-child:hover {
  background: var(--light-color);
  color: var(--primary-color);
}
.navbar .container .menu-links ul li a:hover {
  color: var(--primary-color);
  transition: 0.3s;
}
.header-section {
  margin-bottom: 3rem;
}
.header-section .container {
  background: url(./assets/images/section-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  height: 600px;
}
.header-section .container .header-content {
  width: 70%;
}
.header-section .container .header-content .header-text .section-description {
  margin-bottom: 2rem;
  width: 60%;
}
.header-section .container .header-content .header-btns a:last-child i {
  margin-right: 0.6rem;
}
/* Video sectiuon */
.video-section {
  padding: 0.625rem 0rem 2.5rem;
}
.video-section .container-sm .video-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.video-section .container-sm .section-heading {
  text-align: center;
  margin-bottom: 2rem;
}
.video-section .container-sm .video-btn a {
  display: block;
  margin-top: 3.2rem;
}
/*Testimonial*/

.testimonial-section {
  margin-bottom: 3rem;
  padding: 3rem;
}
.testimonial-section .testimonial-card-header {
  max-width: 700px;
  margin-bottom: 2.5rem;
}
.testimonial-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: center;
}
.testimonial-cards .testimonial-card {
  background: var(--light-color);
  padding: 1.8rem;
  border-radius: 0.8rem;
  text-align: center;
}
/*Pricing*/
.pricing-section .pricing-heading {
  text-align: center;
  margin-bottom: 3rem;
}
.pricing-section .pricing-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-content: center;
}
.pricing-section .pricing-card {
  padding: 2rem;
  border-radius: 0.8rem;
}
.pricing-card-header {
  margin-bottom: 1.4rem;
  padding: 1rem;
}
.pricing-card-header p {
  margin-bottom: 1rem;
}
.pricing-card-body ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
.pricing-card-body ul li i {
  margin-right: 0.8rem;
}
.pricing-section .pricing-card.bg-dark .pricing-card-header {
  border-bottom: 1px solid var(--light-color);
}
.pricing-section .pricing-card.bg-light .pricing-card-header {
  border-bottom: 1px solid var(--dark-color);
}
.pricing-card-footer .btn {
  display: block;
  margin: auto;
  text-align: center;
}
.pricing-card .pricing-card-body p {
  margin-bottom: 1rem;
}
/*Faq*/
.faq-section {
  padding: 3rem;
  margin-top: 4rem;
}
.faq-section .faq-heading {
  text-align: center;
  margin-bottom: 3rem;
}
.filter-items {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem auto;
  background: var(--light-color);
  max-width: 50%;
  padding: 1.2rem;
  border-radius: 0.8rem;
}
.filter-items .filter-item .filter-link {
  padding: 0.8rem 1rem;
  border-radius: 0.8rem;
  transition: 0.3s;
}
/*Faq cards*/
.faq-card {
  position: relative;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--dark-color);
  padding: 1rem;
}
.faq-card .faq-card-header span {
  position: absolute;
  top: 15px;
  right: 0px;
  cursor: pointer;
  font-size: 1.2rem;
}
.faq-card .faq-card-body {
  display: none;
}
.faq-card .faq-card-body.opened {
  display: block;
}
.text-xl {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
.text-md {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--dark-color);
  font-weight: 600;
}
.text-sm {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--dark-color);
  font-weight: 500;
}
.bold {
  font-weight: 600;
  font-size: 1.6rem;
  margin-right: 0.8rem;
}
.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 0.8rem;
  transition: 0.3s;
}
.btn:hover {
  background: var(--light-color);
  color: var(--dark-color);
}
.bg-dark {
  background: var(--dark-color);
  color: var(--light-color);
}
.text-lg {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  font-weight: normal;
}
.bg-light {
  background: var(--light-color);
  color: var(--dark-color);
}
.active {
  background: var(--primary-color);
  color: #fff;
}
